<header>
    <nav class="navbar">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            {{ .Site.Params.long_site_title }}
        </a>
        <ul class="navbar-nav ml-auto">

            {{ range .Site.Sections }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}

            {{ range (where site.RegularPages "Section" "") }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}

        </ul>
    </nav>
</header>